<div class="p-4">
  <button [routerLink]="['/day-1/button-color']" routerLinkActive="router-link-active"> Day 1 按鈕 theme</button>
  <button [routerLink]="['/day-2/button-debounce']" routerLinkActive="router-link-active"> Day 2 按鈕debounce</button>
  <button [routerLink]="['/day-3/dialog']" routerLinkActive="router-link-active" class="primary"> Day 3 Dialog</button>
  <button [routerLink]="['/day-4/toggle']" routerLinkActive="router-link-active" class="primary"> Day 4 toggleDirective</button>
</div>
<hr class="h-6">

<router-outlet></router-outlet>
